@charset "utf-8";
/* CSS Document */

table.Result {
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px;
	width:95%;
}
tr.ResultHeader {
	border-bottom: 2px solid #6699CC;
	border-left: 1px solid #6699CC;
	background-color: #BEC8D1;
	text-align: center;
	text-indent: 5px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color: #404040;
}
tr.OddRow {
	border-bottom: 1px solid #9CF;
	border-top: 0px;
	border-left: 1px solid #9CF;
	border-right: 0px;
	font-size: 11px;
	color: #300;
	background-color: #fafafa;
}
tr.EvenRow {
	border-bottom: 1px solid #9CF;
	border-top: 0px;
	border-left: 1px solid #9CF;
	border-right: 0px;
	font-size: 11px;
	color: #300;
	background-color: #E1FFE7;
}
th.Url {
	width:300px;
}
th.Class {
	width:40px;
}
th.Category {
	width:75px;
}
th.Year {
	width:40px;
}
th.Make {
	width:40px;
}
th.Model {
	width:40px;
}
th.Length {
	width:30px;
}
th.Fuel {
	width:30px;
}
th.Zip {
	width:40px;
}
th.Phone {
	width:60px;
}
th.Image {
	width:40px;
}
h1 {
	font-family:Arial,Geneva,Helvetica,sans-serif;
	font-size:22px;
	line-height:24px;
	margin:0;
	padding-bottom:3px;
}
h2 {
	font-family:Arial,Geneva,Helvetica,sans-serif;
	font-size:19px;
	line-height:24px;
	margin:0;
	padding-bottom:3px;
}
h3 {
	font-family:Arial,Geneva,Helvetica,sans-serif;
	font-size:16px;
	line-height:24px;
	margin:0;
	padding-bottom:3px;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
	color:#143E91;
}