<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MovieBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MovieBrowser.Properties.Settings>
      <setting name="IgnoreWords" serializeAs="String">
        <value>DivXNL-Team  DVDRip DVDR XviD TS V2 XVID FEEL</value>
      </setting>
    </MovieBrowser.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="MovieDbEntities" connectionString="metadata=res://*/Model.MoviesDb.csdl|res://*/Model.MoviesDb.ssdl|res://*/Model.MoviesDb.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=Database\MovieDb.sqlite&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>