body
{
background-color:#fff;
padding:0; font-family: Arial, Helvetica, sans-serif;
margin:0px auto auto auto;
color:#424849;
font-size:12px;
}
h1{
font-size:16px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#1a5114;
width:180px;
padding:15px 5px 2px 5px;
margin: auto;
text-decoration:none;
border-bottom:1px #CCCCCC dashed;
}
h2{
font-size:18px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#63a130;
width: auto;
padding:10px 2px 10px 2px;
margin: auto;
font-style:italic;
text-decoration:none;
}

h3{
font-size:14px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#63a130;
width: auto;
padding:2px 2px 2px 2px;
margin: auto;
font-style:italic;
text-decoration:none;
}

img.img_left{
float:left;
padding:0px 8px 8px 0px;
}
#header{
width:100%;
height:97px;
background:url(images/top_bg.jpg) repeat-x top;
margin:0px;
}
#main_container{
width:780px;
height:auto;
margin:auto;
padding:0px;
}
#logo{
width:164px;
height:49px;
float:left;
padding:10px 0 0 5px;
}
/*------------------------------main content-----------------------*/
#main_content{
width:780px;
margin:auto;
clear:both;
background-color:#FFFFFF;
}

/*---------------- menu tab----------------------*/
#menu_tab{
width: auto;
text-align:center;
height:34px;
margin:auto;
padding-top:50px;
}

ul.menu {
list-style-type:none; display:block; width:475px; 
 margin: auto; padding:0px; background:none;}

ul.menu li {
display:inline;
font-size:14px;
font-weight:bold;
line-height:34px;}

a.nav:link, a.nav:visited {
display:block; float:left; padding:0px 15px 0px 15px; margin:0;height:34px;
text-decoration:none; background:none; color:#FFFFFF;}

a.nav_selected:link, a.nav_selected:visited {
display:block; float:left; padding:0px 15px 0px 15px; margin:0; height:34px;
text-decoration:none;background:none; color: #009900;}

a.nav:hover {
color:#009900;}



/*------------------------middle_content-----------*/
.center_content{
width:780px;
height:auto;
clear:both;
}
.left_content{
width:410px;
float:left;
margin-right:5px;

}
.left_box{
background:url(images/center_box_bg.jpg) no-repeat center;
width:409px;
height:213px;
}
p.left_text{
padding:25px 20px 20px 20px;
font-size:11px;
text-align:justify;
}
img.right_img{
float:right;
}

.right_content{
width:321px;
height: auto;
border:1px #f6f5f5 solid;
border-left-width:3px;
border-left-color:#E8E8E8;
float:left;
background:url(images/right_tab_bg.jpg) no-repeat top center;
}

.right_box{
padding:5px 5px 0px 5px;
margin:auto;
}

.movie_basic{
height:160px;
width:409px;
clear:both;
background:url(images/center_box_bg.jpg) no-repeat center;
}

.movie_cover{
  float:left;
  height:150px;
  width:110px;
  margin: 20px 0 0 10px
}

.movie_title{
padding:2px 2px 2px 2px;
font-size:16px;
color:#0033CC;
width:260px;
height:auto;
float:right;
text-align:right;
margin: 20px 0 0 0
}

.movie_year{
  width:240px;
padding:2px 2px 2px 2px;
font-size:18px;
color:#990099;
text-align:right;
float:right;
}

.movie_rating{
padding:2px 2px 2px 2px;
border:5px #f6f5f5 solid;
text-align:right;
font-size:40px;
color:#FF0000;
float:right;
}

.box_title{
background:url(images/leaf.gif) no-repeat left;
background-position:0px 0px;
padding-left:25px;
font-size:11px;
font-weight:bold;
padding-bottom:10px;
padding-top:5px;
}
p.right_box{
text-align:justify;
font-size:11px;
clear:both;
}
.right_bottom{
padding:10px 5px 0 0;
text-align:right;
}

.prod_box{
padding:5px;
border:1px #C2CA91 solid;
float:left;
text-align:center;
font-size:11px;
margin:10px;
}
div.pagination {
	padding:5px;
	margin:5px;
	text-align:center;
	float:left;
	font-size:10px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #88AF3F;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #85BD1E;
	color: #fff;
	background-color: #519F31;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #519F31;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
/*-----------------------------------------------*/
.contact_tab{
width:250px;
height:auto;
padding:30px;
background-color:#f4f6f9;
margin:5px auto 5px auto;
}
#fields label {
	width: 260px;
	display: block;
	padding: 0px;
}

#fields input {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 260px;
}

.movie_info_label {
	font-size:12px;
	color:#000066;
	width:60px;
	float:left;
	padding:2px 2px 2px 2px;
	clear:left;
}
.movie_info {
	font-size:12px;
	width:320px;
	border: 1px solid #C8D2D9;
	padding:2px 2px 2px 2px;
	clear:right;
}
#fields textarea {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 260px;
	height: 63px;
}
#send input {
	width: 80px;
	height: 25px;
	margin: 0px;
}


/*-------------------footer------------------------*/
#footer{
width:780px;
height:41px;
clear:both;
font-size:11px;
background:url(images/footer_bg.gif) repeat-x;
}
ul.footer_menu {
list-style:none; float:right; display:block; width:520;
margin:0px; padding:9px 20px 0 0px;
}

ul.footer_menu li {
display:inline; font-size:11px;}

a.nav_footer:link, a.nav_footer:visited {
display:block; float:left; padding:5px 6px 5px 10px; margin:0; 
text-decoration:none; color:#2F2626;}

a.nav_footer:hover {
display:block; float:left; padding:5px 6px 5px 10px; margin:0;
text-decoration:underline; color:#2F2626;}

a.nav_footer:active {
display:block; float:left; padding:5px 6px 5px 10px; margin:0;
text-decoration:none;  color:#2F2626;}

#copyright{
float:left;
padding:0px;
}
