<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>demo_sign</servlet-name>
		<servlet-class>org.maksud.gwt.app.testapp.server.servlets.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo_sign</servlet-name>
		<url-pattern>/demo_sign</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>demo_mail</servlet-name>
		<servlet-class>org.maksud.gwt.app.testapp.server.servlets.JavaMailDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo_mail</servlet-name>
		<url-pattern>/demo_mail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>demo_test</servlet-name>
		<servlet-class>org.maksud.gwt.app.testapp.server.servlets.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo_test</servlet-name>
		<url-pattern>/demo_test</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>fileupload</servlet-name>
		<servlet-class>org.maksud.gwt.app.common.server.servlets.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/org.maksud.dms.DMSDemo/fileupload</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.maksud.gwt.app.common.server.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActivateUser</servlet-name>
		<servlet-class>org.maksud.gwt.app.common.server.servlets.ActivateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivateUser</servlet-name>
		<url-pattern>/activate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>org.maksud.gwt.app.common.server.servlets.UserRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>demo_data</servlet-name>
		<servlet-class>org.maksud.gwt.app.testapp.server.servlets.DataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo_data</servlet-name>
		<url-pattern>/demo_data</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>BasicRPC</servlet-name>
		<servlet-class>org.maksud.gwt.app.maksudapp.server.BasicRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BasicRPC</servlet-name>
		<url-pattern>/maksudapp/BasicRPC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MailService</servlet-name>
		<servlet-class>org.maksud.gwt.app.mailapp.server.MailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailService</servlet-name>
		<url-pattern>/org.maksud.gwt.app.mailapp.MailApp/mailservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthenticationService</servlet-name>
		<servlet-class>org.maksud.gwt.app.common.server.AuthenticationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationService</servlet-name>
		<url-pattern>/org.maksud.gwt.app.common.Common/AuthenticationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticationService</servlet-name>
		<url-pattern>/maksudapp/AuthenticationService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestService</servlet-name>
		<servlet-class>org.maksud.gwt.app.testapp.server.TestServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestService</servlet-name>
		<url-pattern>/org.maksud.gwt.app.testapp.TestApp/TestService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DirectoryService</servlet-name>
		<servlet-class>org.maksud.dms.server.DirectoryServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectoryService</servlet-name>
		<url-pattern>/org.maksud.dms.DMSDemo/DirectoryService</url-pattern>
	</servlet-mapping>

</web-app>