<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>sign</servlet-name>
		<servlet-class>org.maksud.gwt.app.maksudapp.server.servlets.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mail</servlet-name>
		<servlet-class>org.maksud.gwt.app.maksudapp.server.servlets.mail.JavaMailDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mail</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>org.maksud.gwt.app.maksudapp.server.servlets.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fileupload</servlet-name>
		<servlet-class>org.maksud.gwt.app.maksudapp.server.servlets.utility.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>data</servlet-name>
		<servlet-class>org.maksud.gwt.app.maksudapp.server.servlets.data.DataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>data</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>/MaksudApp.html</welcome-file>
	</welcome-file-list>

</web-app>